<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>Input Dataset</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <h3>Klasifikasi Emosi Menggunakan LSTM</h3>
  <div class="input_data">
    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv" required>
        <input type="submit" value="Klasifikasi">
  </div>
</body>
</html>